<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">
        <!-- Box (with bar chart) -->
        <div class="box box-info" id="loading-example" ng-controller="PhoneListCtrl">
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-sm-2">
                        <!-- blank -->
                    </div>
                    <div class="col-sm-8">
                        <div class="xfile-upload" ngf-drop ngf-change="goToStep2($files)"
                             ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                             ngf-accept="'image/*,application/pdf'">
                            <center>
                                <button class="btn btn-primary"  ngf-select ngf-multiple="true" ngf-change="goToStep2($files)"><i class="fa fa-upload"></i> 上传文件</button>
                            </center>
                        </div><!-- /.xfile-upload -->
                        <p class="text-center text-comment">从我的电脑选择要上传的文档：按住CTRL可以上传多份文档or直接拖到灰色框中</p>
                    </div><!-- /.col -->
                    <div class="col-sm-2">
                        <!-- blank -->
                    </div>
                </div><!-- /.row - inside box -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
</div><!-- /.row (main row) -->